@import "mainStyles.css";

/*text field*/
.text-field {
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: -fx-accent-faint;
    -fx-background-radius: 0;
    -fx-pref-height: 30px;
}

/*text area*/
.text-area {
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: -fx-accent-faint;
}

/*check box*/
/*.check-box .box {
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: -fx-accent-faint;
    -fx-background-radius: 0px;
    -fx-padding: 0.15em;
}*/

/*combo box*/
.combo-box {
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: -fx-accent-faint;
    -fx-background-radius: 0;
    -fx-pref-height: 30px;
}

#separator-custom *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px; /* its make really one-pixel-border */
    -fx-border-color: #0f9faf;
}
