@import "mainStyles.css";

/*button*/
.button {
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: -fx-accent-faint;
}

/*radio-button*/
.radio-button .radio {
    -fx-focus-color: -fx-accent;
    -fx-faint-focus-color: -fx-accent-faint;
}

/*toogle-button*/
.toggle-button:selected {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}

/*.toggle-button {
    -fx-background-color: #313237;
    -fx-text-fill: white;
}*/
.toggle-button {
    -fx-background-color: #9eb1af;
    -fx-text-fill: black;
    -fx-font-weight:bold;
    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
    -fx-background-radius: 0px;
}

/*.toggle-button:hover {
    -fx-background-color: #46474b;
}*/
.toggle-button:hover {
    -fx-background-color: derive(#9eb1af, 20%);
}

.toggle-button:focused {
   -fx-background-insets: 0, 0, 0, 0;
}

.toggle-button:selected:hover {
    -fx-background-color: -fx-accent;
}

/*custom button*/
#cancel_button {
    -jfx-button-type: FLAT;
    -fx-background-color: #afbab9;
    -fx-font-weight:bold;
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-min-width: 110px;
    -fx-min-height: 35px;
}

#cancel_button:focused {
    -fx-background-color: derive(#9eb1af, -40%);
}

#cancel_button:pressed {
    -fx-background-color: derive(#9eb1af, 40%);
}

#save_button {
    -jfx-button-type: FLAT;
    -fx-background-color: -fx-accent;
    -fx-font-weight:bold;
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-min-width: 110px;
    -fx-min-height: 35px;
/*    -fx-focus-color: blue;
    -fx-faint-focus-color: yellow;*/
}

#save_button:focused {
    -fx-background-color: derive(-fx-accent, -40%);
}

#save_button:pressed {
    -fx-background-color: derive(-fx-accent, 40%);
}

#tabButton {
    -fx-background-color: #9eb1af;
    -fx-font-weight:bold;
    -fx-background-radius: 0.0px;
    -fx-fill: white;
    -fx-text-fill: white;
}

#tabButton:hover {
    -fx-background-color: derive(#9eb1af, 20%);
}

#tabButtonSelected {
    -fx-background-color: -fx-accent;
    -fx-font-weight: bold;
    -fx-background-radius: 0.0px;
    -fx-fill: white;
    -fx-text-fill: white;
}

#tabButtonSelected:hover {
    -fx-background-color: derive(-fx-accent, 20%);
}

#green-button {
    -jfx-button-type: FLAT;
    -fx-background-color: #6bc733;
    -fx-pref-width: 110;
    -fx-pref-height: 35;
    -fx-text-fill: white;
    -jfx-disable-visual-focus: true;
}

#green-button:hover {
    -fx-background-color: rgb(126, 220, 70);
}

#light-button {
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-text-fill: derive(-fx-accent, 20%);
    -jfx-disable-visual-focus: true;
    -fx-font-weight: bold;
}

#light-button:hover {
    -fx-text-fill: derive(-fx-accent, -20%);
}

#close-button {
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -jfx-disable-visual-focus: true;
}

#close-button:hover {
    -fx-cursor: hand;
    -fx-background-color: derive(-fx-accent, 30%);
    -fx-background-radius: 40;
}