@import "mainStyles.css";

/*JFoenix styles*/
/*text-field*/
.jfx-text-field {
    -jfx-focus-color: -fx-accent;
    -jfx-label-float: true;
}

/*text-area*/
.jfx-text-area {
    -jfx-focus-color: -fx-accent;
    -jfx-label-float: true;
}

/*combo-box*/
.jfx-combo-box {
    /*-fx-prompt-text-fill: -fx-accent;*/
}

/*check-box*/
.jfx-check-box {
     -jfx-checked-color: -fx-accent;
}

.jfx-check-box .box {
    -fx-border-color: derive(grey, -10%);
    -fx-border-width: 1.5px;
}

.jfx-check-box:selected .box {
    -fx-border-color: -fx-accent;
}

.jfx-check-box .mark {
     -fx-border-color: white;
}

/*radio-button*/
.jfx-radio-button {
    -jfx-selected-color: -fx-accent;
}

/*toggle-node*/
.jfx-toggle-node {
    -jfx-toggle-color: -fx-accent;
    -jfx-untoggle-color: #9eb1af;
}

.jfx-toggle-node .jfx-rippler {
    -jfx-rippler-fill: derive(-fx-accent, -40%);
    -fx-cursor:hand;
}

/*dialog styles*/
/*.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: TRANSPARENT;
}*/

.jfx-dialog .dialogButton {
    -fx-background-color: green;
    -fx-text-fill: red;
    -fx-font-size: 12pt;
    -fx-background-radius: 0;
    -fx-border-width: 1px;
    -fx-border-color: -fx-secondary;
}

.jfx-dialog .dialogButton:hover {
    -fx-background-color: -fx-secondary;
}